@model NGOManagementSystem.Models.DonorDetail

@{
    ViewData["Title"] = "Create";
}

<@*h1>Create</h1>*@

<h4>Enter Yours Details.....</h4>
<hr />
<div class="row" style="background-image: url('/back5.jpg')">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DonorId" class="control-label"></label>
                <select asp-for="DonorId" class ="form-control" asp-items="ViewBag.DonorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaytmMethod" class="control-label"></label>
                <select asp-for="PaytmMethod" class ="form-control" asp-items="ViewBag.PaytmMethod"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" /> |
                 <a class="btn btn-dark" asp-area="Donor" asp-controller="Payments" asp-action="Create" style="color:white">Next</a>
            </div>
           
        </form>
    </div>
</div>
<br/>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
