<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NGOManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body style="background-image:url('/ybg.png');  ">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="background-image:url('/bg1.jpg')">

                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/img/lord-krishna.png" style="width:100px" /> &nbsp;<b style="color:orangered">Krishna </b><b>Foundation</b> &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="menu" class="cd-none d-lg-block nav-col">
                    <ul class="navbad">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index"><b>Home</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Donor" asp-controller="Categories" asp-action="Index"><b>Campaigns</b></a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><b>Manage</b></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   asp-area="Admin" asp-controller="Categories" asp-action="Index">Campaigns</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   asp-area="Admin" asp-controller="DonorInfoes" asp-action="Index">Donor Information</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   asp-area="Admin" asp-controller="DonorDetails" asp-action="Index">Donor Payments</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   asp-area="Admin" asp-controller="Payments" asp-action="Index">Donor Bank Details</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   asp-area="Admin" asp-controller="paytms" asp-action="Index">Add Payment Methods</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   asp-area="Admin" asp-controller="Volunteers" asp-action="Index">Volunteers Details</a>
                                
                              @*  <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/MyCategoriesApiDemo.html">Categories (API)</a>*@
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><b>Donor</b></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   asp-area="Donor" asp-controller="DonorInfoes" asp-action="Create">Donate</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   asp-area="Donor" asp-controller="Volunteers" asp-action="Index">Volunteers </a>
                                
                                @*  <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/MyCategoriesApiDemo.html">Categories (API)</a>*@
                            </div>
                        </li>

                       
                    </ul>
                </div>
                <a href="https://localhost:44363/Donor/DonorInfoes/Create"><b>Donate Now</b></a> &nbsp; &nbsp;
                @* Inserting the Login Partial View *@
                <partial name="_LoginPartial" />

            </div>
        </nav>
    </header>

      @*  <header  class="asy">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow asy">
            <div id="menu-jk" class="header-bottom">
                <div class="asy" style="background-image:url('bg1.jpg')">
                    <div class="row nav-row">
                        <div class="col-lg-3 col-md-12 logo">
                            <a href="index.html">
                                <img src="~/imgs/lord-krishna.png" height="70px;" alt=""><b> Krishna Foundation </b>
                                <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-lg-none  small-menu fa-bars"></i></a>
                            </a>

                        </div>
                        <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">

                            <ul class="navbad">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>


                                  <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><b>Manager</b></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           asp-area="Admin" asp-controller="Categories" asp-action="Index">Campaigns</a>
                                        <a class="dropdown-item"
                                           asp-area="Admin" asp-controller="DonorInfoes" asp-action="Create">Donors</a>
                                        <a class="dropdown-item"
                                           asp-area="Admin" asp-controller="DonorDetails" asp-action="Index">Donors-Details </a>
                                        <a class="dropdown-item"
                                           asp-area="Admin" asp-controller="Payments" asp-action="Index">Payment</a>
                                    <a class="dropdown-item"
                                       asp-area="Hub" asp-controller="Volunteers" asp-action="Create">Volunteer</a>


                                    </div>

                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><b>User</b></a>

                                    <div class="dropdown-menu">

                                        <a class="dropdown-item  "
                                           asp-area="Donor" asp-controller="DonorInfoes" asp-action="Create">NEW Donor</a>
                                    <a class="dropdown-item"
                                       asp-area="Donor" asp-controller="Volunteers" asp-action="Create">Volunteer</a>
                                        @*<a class="dropdown-item "
                                           asp-area="Donor" asp-controller="DonorDetails" asp-action="Create">Donor Details </a>



                                    </div>

                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Donor" asp-controller="DonorInfoes" asp-action="Create">Donote Now</a>
                                </li>

                            </ul>

                            


                        </div>

                    </div>

                </div>
                <partial name="_LoginPartial" />

            </div>
           

            </nav>*@


      @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="background-image:url('bg1.jpg')">
                 <a class="navbar-brand" asp-area="" asp-page="/Index">  <img src="~/imgs/lord-krishna.png" height="70px;"> Krishna Foundation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><b>Manager</b></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   asp-area="Hub" asp-controller="Categories" asp-action="Index">Campaigns</a>
                                <a class="dropdown-item"
                                   asp-area="Hub" asp-controller="DonorInfoes" asp-action="Index">Donors</a>
                                <a class="dropdown-item"
                                   asp-area="Hub" asp-controller="DonorDetails" asp-action="Index">Donors-Details </a>
                                <a class="dropdown-item"
                                   asp-area="Hub" asp-controller="Payments" asp-action="Index">Payment</a>
                               

                            </div>

                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><b>User</b></a>
                            <div class="dropdown-menu">
                                
                                <a class="dropdown-item  "
                                   asp-area="Donor" asp-controller="DonorInfoes" asp-action="Index">NEW Donor</a>
                                <a class="dropdown-item "
                                   asp-area="Donor" asp-controller="DonorDetails" asp-action="Index">Donor Details </a>



                            </div>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Donor" asp-controller="DonorInfoes" asp-action="Create">Donote</a>
                        </li>

                    </ul>
                </div>
                Inserting the Login Partial View 
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
