@model NGOManagementSystem.Models.Category

@{
    ViewData["Title"] = "Details";
}



<div style ="background-color:lightgray">
    
    <h4> <b>Campaigns Details</b></h4>
    <hr />
    <dl class="row" >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    @*<a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.CategoryId">Home</a>*@
    <a class="btn btn-dark"  asp-area="" asp-page="/Index"><b>Home</b></a>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
