@model NGOManagementSystem.Models.Payment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Payment</h4>
<hr />
<div class="row" style="background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1,
#8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DonorDetailId" />
            <div class="form-group">
                <label asp-for="DonorId" class="control-label"></label>
                <select asp-for="DonorId" class="form-control" asp-items="ViewBag.DonorId"></select>
                <span asp-validation-for="DonorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankName" class="control-label"></label>
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNO" class="control-label"></label>
                <input asp-for="AccountNO" class="form-control" />
                <span asp-validation-for="AccountNO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IFSC" class="control-label"></label>
                <input asp-for="IFSC" class="form-control" />
                <span asp-validation-for="IFSC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaytmMethod" class="control-label"></label>
                <select asp-for="PaytmMethod" class="form-control" asp-items="ViewBag.PaytmMethod"></select>
                <span asp-validation-for="PaytmMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
                <a class="btn btn-dark" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
