@model NGOManagementSystem.Models.DonorDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DonorDetail</h4>
<hr />
<div class="row" style="background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1,
#8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DonorId" class="control-label"></label>
                <select asp-for="DonorId" class ="form-control" asp-items="ViewBag.DonorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaytmMethod" class="control-label"></label>
                <select asp-for="PaytmMethod" class ="form-control" asp-items="ViewBag.PaytmMethod"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
            <br/>
            <div >
                <a class="btn btn-dark" asp-area="Admin" asp-controller="Payments" asp-action="Create" style="color:white">Next</a> |
                <a class="btn btn-dark" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
