@model NGOManagementSystem.Models.Paytm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Paytm</h4>
    <hr />
    <dl class="row" style="background-color:lightblue">
        >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaytmMethods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaytmMethods)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.PaytmId">Edit</a> |
    <a class="btn btn-dark" asp-area="" asp-page="/Index"><b>Home</b></a> |
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
  